<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<input type="text" v-on:input="changeTitle">
		<p v-once>{{ title }}</p>
		<p>{{ sayHello() }} - <a :href="link">Google</a></p>
		<p v-html="finishedLink"></p>
		<button @click="counter++">Increse</button>
		<button @click="counter--">Decrese</button>
		<button @click="seccounter++">Increse sec</button>
		<p>{{ result() }} | {{ output }}</p>
		<p v-on:mousemove="updateCoordinates">Coordinates: {{ x }}/{{ y }}
			- <span v-on:mousemove.stop="">DEAD SPOT</span>
		</p>
		<input type="text" v-on:keyup.enter.space="alertMe">
		<input type="text" v-model="name">
          <p>{{ name }}</p>
        <div>
        	<div class='box' @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
        	<div class='box' :class="{red: attachRed}"></div>
        	<div class='box' :style="myStyle"></div>
        	<div class='box' :style="[myStyle, {height: width + 'px'}]"></div>
        </div>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
        <p v-if="show">You can see me!</p>
        <p v-else>Now you can see me!</p>
        <p>Do you also see me?</p>
        <button @click="show=!show">click</button>
	</div>
	<script src="App.js" :style="myStyle"></script>
</body>
</html>
